@{
    ViewBag.Title = "Redirecionamento";
}




<br />
<br />


<section class="container services">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 animated fadeInLeft notransition">
            <div class="box effect2">
                <img src="~/Content/img/logo-bohrer.png" />
                <h4>Login Administrativo</h4>
                <p>
                    Esse login é exclusivamente administrativo.
                    @ViewBag.msg;
                </p>
                <div class="done">
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        Your message has been sent. Thank you!
                    </div>
                </div>
               
            </div>
        </div>

    </div>
</section>
