


<section>
    <div class="footer">
        <div class="container animated fadeInUpNow notransition">
            <div class="row">
                @*<div class="col-md-3">

                </div>
                <div class="col-md-3">

                </div>*@
                @*<div class="col-md-6">
                    <h1 class="footerbrand">Bohrer Sports</h1>
                    <p>
                        Venha jogar na Bohrer gratuitamente, registri-se
                    </p>
                    <p>
                        As vagas para participação são limitadas não perca a oportunidade.
                    </p>
                    <p>
                        Produto Bohrer Sports  em asossiação a <i>Intelecto Alpha</i> Soluções Web
                    </p>
                </div>
                <div class="col-md-6">
                    <h1 class="title"><span class="colortext">E</span>ncontre<span class="font100">-nos</span></h1>
                    <div class="footermap">
                        <p>
                            <strong>Endereço: </strong> Rua Antônio Ribeiro Mendes, 2800 - RS, 95032-600

                        </p>
                        <p>
                            <strong>Bairro: </strong> Santa Catarina, Caxias do Sul
                        </p>
                        <p>
                            <strong>Telefone: </strong> (54) 3027-3057
                        </p>

                        <p>
                            <strong>Email: </strong> atendimento@bohrersports.com
                        </p>
                        <ul class="social-icons list-soc">
                            <li><a target="_blank" href="https://www.facebook.com/bohrersports?fref=ts"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-google-plus"></i></a></li>
                            <li><a href="#"><i class="icon-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>*@
                
            </div>
        </div>
    </div>
    <p id="back-top">
        <a href="#top"><span></span></a>
    </p>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p class="pull-left">
                        &copy; Copyright 2015 IntelectoAlpha
                    </p>
                </div>
                <div class="col-md-8">
                    <ul class="footermenu pull-right">
                        <li><a href="/Home">Home</a></li>
                        <li><a href="/Login/Login">Login</a></li>
                        <li><a href="#">Jogos</a></li>
                        <li><a href="/Regulamento/Competicao">Regulamento</a></li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>





