


<!-- BEGIN CALL TO ACTION PANEL
           ================================================== -->
<section class="container animated fadeInDownNow notransition topspace40">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <p class="bigtext">
                    Cadastre-se <span class="fontpacifico colortext">na Corrida dos Campeões</span> e seja o novo campeão da Serra
                </p>
                <p>
                    Faça seu cadastro e receba o melhor do nosso conteúdo. É simples e prático!
                </p>
            </div>
            <div class="text-center topspace20">
                <a href="/Login/Login" class="buttonblack"><i class="icon-list"></i>&nbsp; Registro</a>
                <a href="/Administrador/Logar" class="buttoncolor"><i class="icon-lock"></i>&nbsp; Login</a>
            </div>
        </div>
    </div>
</section>
<!-- /. end call to action-->