

@{
    ViewBag.Title = "Retorno";

}

<h2>Retorno</h2>

@ViewBag.teste;
<br />
<hr />
<br />
@ViewBag.debug;
<br />
<hr />
<br />
@ViewBag.StatusTransacao;
<br />
<hr />
<br />
@ViewBag.TransacaoID;